*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222831;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.spin-enter-active {
  animation: spin 0.3s ease-in;
}

.spin-leave-active {
  animation: spin 0.3s ease-in reverse;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360);
  }
}